
<div class="logo">
  <img class="logo-img" src="https://static.rfstat.com/renderforest/images/v2/logo-homepage/flat_3.png" />
</div>

<div class="log-container">
  <mat-card>
    <mat-card-title>Login</mat-card-title>
    <mat-card-content>

      <mat-form-field style="width: 100%">
        <mat-label>Usuario</mat-label>
        <input matInput placeholder="Usuario" >
      </mat-form-field>

      <mat-form-field style="width: 100%">
        <mat-label>Password</mat-label>
        <input matInput type="password" placeholder="Password" >
      </mat-form-field>

      <div class="button">
        <button mat-raised-button color="primary" (click)="goToMain()">Ingresar</button>
      </div>

    </mat-card-content>
  </mat-card>
</div>
