
<app-template></app-template>

<div class="container">

  <img src="https://books.google.com.ec/books/content?id=SilxDwAAQBAJ&printsec=frontcover&img=1&zoom=5&edge=curl&imgtk=AFLRE72ccl_aHsyeVKaGcazXBF7Rcgi_uD2yqpHP5T9hJ0JKhOutpq-27-6ioU83JaMWhiEKqk_DM4GJHxjYaaJJ_bSlURcOyWuasSyHSe8N_n9jcYcj7s7RA4XGV3yPpUdBoGyk8SIT">
  <p>Reina Roja</p>

  <div style="padding-bottom: 1em">
    <button mat-fab color="primary" aria-label="Download" (click)="showAlert()">
      <mat-icon>download</mat-icon>
    </button>
  </div>

  <img src="https://books.google.com.ec/books/content?id=SilxDwAAQBAJ&printsec=frontcover&img=1&zoom=5&edge=curl&imgtk=AFLRE72ccl_aHsyeVKaGcazXBF7Rcgi_uD2yqpHP5T9hJ0JKhOutpq-27-6ioU83JaMWhiEKqk_DM4GJHxjYaaJJ_bSlURcOyWuasSyHSe8N_n9jcYcj7s7RA4XGV3yPpUdBoGyk8SIT">
  <p>Reina Roja</p>

  <div>
    <button mat-fab color="primary" aria-label="Download" (click)="showAlert()">
      <mat-icon>download</mat-icon>
    </button>
  </div>


  <div class="goBack">
  <button mat-raised-button color="primary" (click)="goToLogin()">Regresar</button>
  </div>

</div>
