<div class="navigation">
  <div>
    <button mat-icon-button aria-label="Menu icon" [matMenuTriggerFor]="menuOp">
      <mat-icon>more_vert</mat-icon>
    </button>
  </div>

  <mat-menu #menuOp="matMenu">
    <button mat-menu-item>Materias</button>
    <button mat-menu-item>Nivel</button>
    <button mat-menu-item>Textos</button>
  </mat-menu>


  <mat-menu #menu="matMenu">
    <button mat-menu-item>Un Menu</button>
    <button mat-menu-item>Otro Menu</button>
    <button mat-menu-item>Salir</button>
  </mat-menu>
  <div>
    <button mat-icon-button aria-label="User icon" [matMenuTriggerFor]="menu">
      <mat-icon>perm_identity</mat-icon>
    </button>
  </div>



</div>
